:host {
  display: flex;
  background-image: url('https://wallpapers.com/images/hd/project-management-aesthetic-desktop-6oxfxe1l1508cpv8.jpg');
  justify-content: center;
  align-items: center;
  height: 100vh; /* toàn màn hình */
  background-color: #f9fafb; /* màu nền nhẹ */
}

.card {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
