<div class="card flex flex-col gap-4 justify-center items-center py-10">
  <h2 class="text-xl font-semibold">🔐 Nhập mã xác thực OTP</h2>
  <p class="text-sm text-gray-600">Mã đã gửi tới <strong>{{ email }}</strong></p>

  <p class="text-red-500 font-medium">⏳ Thời gian còn lại: {{ formattedTime }}</p>

  <p-inputOtp [(ngModel)]="otpCode" [length]="6" [integerOnly]="true"></p-inputOtp>

  <button pButton label="Xác nhận" class="mt-3 w-48" (click)="verifyOtp()" [disabled]="countdown === 0"></button>

  <p-toast></p-toast>
</div>
